html, body {
	margin: 0;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 50rem;
	margin: 0 auto;
	font-family:Arial;
	background-color:black;
	color:gold;
}
ul li {
	background-color: rgb(0, 50, 50);
	border: solid thin rgb(0, 50, 50);
	border-radius: 8px;
	width: 260px;
	height: 30px;
	text-align: center;
	vertical-align: center;
	padding: 10px 0px 0px 0px;
	font-weight: bold;
	list-style-type: none;
	margin: auto;
}
ul li:hover {
	background-color: rgb(0, 100, 100);
}
ul li:active {
	background-color: rgb(0, 120, 120);
}
#head {
	background-color: gold;
	color: white;
	margin: auto;
	width: 100%;
	border: solid gold;
	height:30px;
	text-align: center;
	vertical-align: center;
	padding: 10px 0px 0px 0px;
	font-weight: bold;
}
